{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
    
{% endfor %}

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <H1> sensor DB</H1> 
</head>
<body>

	<div class="list-group">
		<a href="{{url_for('data1')}}" class="list-group-item list-group-item-action">온도</a>
		<a href="{{url_for('data2')}}" class="list-group-item list-group-item-action">습도</a>
		<a href="{{url_for('data3')}}" class="list-group-item list-group-item-action">토양습도</a>
	  </div>


<br>
<br>


</body>
</html>

{% endblock %}